INTRO

In [6]:
print("Hello, KBTU!")

Hello, KBTU!

GETTING STARTED

In [9]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

SYNTAX

In [20]:
#Example 1
if 7>4:
    print("Seven is greater than four")

Seven is greater than four

In [18]:
#Example 1 with the syntax error
if 7 > 4:
print("Seven is greater than four")

IndentationError: expected an indented block after 'if' statement on line 2 (218153704.py, line 3)

In [22]:
#Example 2
if 6 > 2:
    print("Six is greater than two")
if 6 > 2:
        print("Six is greater than two")

Six is greater than two
Six is greater than two

In [24]:
#Example 2 with the syntax error
if 6 > 2:
    print("Six is greater than two")
        print("Six is greater than two")

IndentationError: unexpected indent (3302329531.py, line 4)

In [28]:
#Example 3
x = 5 #Integer variable
y = "Hello, KBTU!" #String variable

COMMENTS

In [37]:
#Example 1
#This is a comment
print("Hello, KBTU!")

Hello, KBTU!

In [33]:
#Example 2
print("My name is Amina!") #This is also a comment

My name is Amina!

In [35]:
#Example 3
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [64]:
#Example 4 Multiline comment 1
#This is a comment
#written in 
#more than just one line
print("Hello, KBTU!")

Hello, KBTU!

In [66]:
#Example 5 Multiline comment 2
"""
This is also a comment
written in
more than just one line
"""
print("Hello, KBTU!")

Hello, KBTU!

VARIABLES

Variable names

In [49]:
#Example 1
x = 5
y = "John"
print(x)
print(y)

5
John

In [53]:
#Example 2
x = 3 #x is of type int
x = "Emma" #x is now of type str
print(x)

Emma

In [55]:
#Example 3
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

In [57]:
#Example 4
x = 3
y = "Mike"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [59]:
#Example 5
x = "Lily"
#is the same as
x = 'Lily'

In [68]:
#Example 6 Case-sensitivity
x = "James"
X = 7
# X will not overwrite x

Variable names

In [70]:
#Example 1 Valid variable names
myvar = "Harry"
my_var = "Harry"
_my_var = "Harry"
myVar = "Harry"
MYVAR = "Harry"
myvar2 = "Harry"

In [72]:
#Example 2 Illegal variable names
2myvar = "Harry"
my-var = "Harry"
my var = "Harry"

SyntaxError: invalid decimal literal (2259639693.py, line 2)

In [74]:
#Example 3 Multi words variable names
myVariableName = "Severus" #Cames case
MyVariableName = "Severus" #Pascal case
my_variable_name = "Severus" #Snake case

Assign multiple values

In [77]:
#Example 1
x, y, z = "Apple", "Banana", "Cherry"
print(x)
print(y)
print(z)

Apple
Banana
Cherry

In [79]:
#Example 2 
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [81]:
#Example 3 Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output variables

In [86]:
#Example 1
x = "Python is awesome"
print(x)

Python is awesome

In [88]:
#Example 2
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [90]:
#Example 3 Need to use spaces
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [94]:
#Example 4 mathematical operator for integers
x = 5
y = 10
print(x + y)

15

In [100]:
#Example 5 Error: cannot combine a string and a number
x = 5
y = "Kale"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
#Example 6
x = 5
y = "Kale"
print(x, y)

5 Kale

Global variables

In [107]:
#Example 1
x = "awesome"

def myfync():
    print("Python is " + x)

myfync()

Python is awesome

In [109]:
#Example 2
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [113]:
#Example 3 A global variable inside a function
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [119]:
#Example 4 Change the value of a global variable inside a function
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

DATA TYPES

In [122]:
#Example 1 Getting the data type
x = 5
print(type(x))

<class 'int'>

In [136]:
#Example 2 Setting the specific data type
x = str("Hello, KBTU")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name = "Harry" , age = 17)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

NUMBERS

In [139]:
#Example 1
x = 1 #int
y = 2.8 #float
z = 1j #complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [141]:
#Example 2 Integers
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [143]:
#Example 3 Floating point numbers
x = 1.0
y = 1.10
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [145]:
#Example 4 Float can also be scientific numbers with an "e" to indicate the power of 10
x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [147]:
#Example 5 Complex numbers
x = 3 + 5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [151]:
#Example 6 Type conversion
x = 1 #int
y = 2.8 #float
z = 1j #complex You cannot convert complex numbers into another number type

#convert from int to float
a = float(x)
#convert from float to int
b = int(y)
#convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#Example 7 Random number
import random #Import the random module

print(random.randrange(1,10)) #display a random number between 1 and 9

CASTING

In [158]:
#Example 1
x = int(1) #x will be 1
y = int(2.8) #y will be 2
z = int("3") #z will be 3

In [162]:
#Example 2
x = float(1) #x will be 1.0
y = float(2.8) #y will be 2.8
z = float("3") #z will be 3.0
v = float("4.5") #v will be 4.5

In [164]:
#Example 3
x = str("s1") #x will be 's1'
y = str(1) #y will be '1'
z = str(3.7) #z will be '3.7'

STRINGS

Strings

In [168]:
#Example 1
print("hello")
print('hello')

hello
hello

In [170]:
#Example 2
print("It's alright")
print("He is called 'Jhonny'")
print('He is called "Jhonny"')

It's alright
He is called 'Jhonny'
He is called "Jhonny"

In [172]:
#Example 3
a = "hello"
print(a)

hello

In [176]:
#Example 4
a = """Hello, 
KBTU students.
Are you ok?"""
print(a)

Hello,
KBTU students.
Are you ok?

In [178]:
#Example 5
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [182]:
#Example 6
a = "KBTU"
print(a[0])

K

In [184]:
#Example 7
for x in "banana":
    print(x)

b
a
n
a
n
a

In [188]:
#Example 8 The length of a string
a = "KBTU"
print(len(a))

4

In [190]:
#Example 9 To check if a certain phrase or character is present in a string, we can use the keyword 'in'
a = "I love KBTU"
print("love" in a)

True

In [192]:
#Example 10
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [194]:
#Example 11 To check if a certain phrase or character is not present in a string, we can use the keyword 'not in'
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [196]:
#Example 12
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing strings

In [199]:
#Example 1 Get the characters from position 2 to position 5 (not included)
b = "Hello, KBTU!"
print(b[2:5])

llo

In [201]:
#Example 2 Get the characters from the start to position 5 (not included)
b = "Hello, KBTU!"
print(b[:5])

Hello

In [203]:
#Example 3 Get the characters from position 2, and all the way to the end
b = "Hello, KBTU!"
print(b[2:])

llo, KBTU!

In [205]:
#Example 4 Use negative indexes to start the slice from the end of the string
b = "Hello, KBTU!"
print(b[-5:-2])

KBT

Modify strings

In [208]:
#Example 1 To upper case
a = "Hello, KBTU!"
print(a.upper())

HELLO, KBTU!

In [210]:
#Example 2 To lower case
a = "Hello, KBTU!"
print(a.lower())

hello, kbtu!

In [212]:
#Example 3 Removing whitespaces (Whitespace is the space before and/or after the actual text)
a = " Hello, KBTU! "
print(a.strip())

Hello, KBTU!

In [218]:
#Example 4 Replace
a = "Hello, KBTU!"
print(a.replace("H", "J"))

Jello, KBTU!

In [220]:
#Example 5 Split (The split() method returns a list where the text between the specified separator becomes the list items)
a = "Hello, KBTU!"
print(a.split())

['Hello,', 'KBTU!']

Concatenate strings

In [223]:
#Example 1 Merge with +
a = "Hello"
b = "KBTU"
c = a + b
print(c)

HelloKBTU

In [225]:
#Example 2
a = "Hello"
b = "KBTU"
c = a + " " + b
print(c)

Hello KBTU

Format strings

In [228]:
#Example 1 Cannot combine strings and numbers like this
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [232]:
#Example 2 f-string
age = 36
txt = f"My name is John, I am {36}"
print(txt)

My name is John, I am 36

In [234]:
#Example 3 Placeholder
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [238]:
#Example 4 A placeholder can include a modifier to format the value. 
#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [244]:
#Example 5 A placeholder with a code
txt = f"Price is {20*59} dollars"
print(txt)

Price is 1180 dollars

Escape character

In [247]:
#Example 1 To insert characters that are illegal in a string, use an escape character(a backslash \ followed by the character you want to insert)
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (1198175938.py, line 2)

In [253]:
#Example 2 The escape character allows you to use double quotes when you normally would not be allowed
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.