LAB 2

BOOLEANS

In [66]:
#Example 1 If you compare, result will be the boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [7]:
#Example 2
x = 50
y = 25

if y > x:
    print("y is greater than x")
else:
    print("y is not greater than x")

y is not greater than x

In [15]:
#Example 3
print(bool("KBTU"))
print(bool(15))

True
True

In [17]:
#Example 4
a = 15
b = "Harry"

print(bool(a))
print(bool(b))

True
True

In [39]:
#Example 5 Strings, dictionaries, sets, tuples, lists are false if they are empty. Any number is True, except 0
bool("hello")
bool(123)
bool(["mango", "orange", "watermelon"])

True

In [41]:
#Example 6 None also returns false
bool(False)
bool(None)
bool(0)
bool({})
bool([])
bool("")
bool(())

False

In [43]:
#Example 7
class myclass():
    def __len__(self):
        return 0

myres = myclass()
print(bool(myres))

False

In [49]:
#Example 8
def truefunc():
    return True

print(truefunc())

True

In [51]:
#Example 9
def myfunc():
    return True

if myfunc():
    print("Yes")
else:
    print("No")

Yes

In [53]:
#Example 10
x = 55
print(isinstance(x, int))

True

OPERATORS

In [3]:
#Example 1 
print(2 + 7)

9

In [11]:
#Example 2 Arithmetic operators
x = 12
y = 5
print(x + y) #addition
print(x - y) #substruction
print(x * y) #multiplication
print(x / y) #division
print(x % y) #modulus
print(x** y) #exponentiation
print(x // y) #floor division

17
7
60
2.4
2
248832
2

In [39]:
#Example 2 Assignment operators
x = 12
x += 7 #the same as x = x + 7
y = 12
y -= 7 #the same as y = y - 7
z = 12
z *= 7 #the same as z = z * 7
c = 12
c /= 7 #the same as c = c / 7
b = 12
b %= 7 #the same as b = b % 7
a = 12
a //= 7 #the same as a = a // 7
f = 12
f **= 7 #the same as f = f ** 7
k = 12
k &= 7 #the same as k = k & 7
l = 12
l |= 7 #the same as l = l | 7
n = 12
n ^= 7 #the same as n = n ^ 7
m = 12
m >>= 7 #the same as m = m >> 7
o = 12
o <<= 7 #the same as o = o << 7
print(x := 7) 
#the same as x = 7
#print(x)

7

In [37]:
#Example 3 Comparison operators
x = 15
y = 10
print(x == y) #equal	
print(x != y) #not equal	
print(x > y) #greater than
print(x < y) #less than
print(x >= y) #greater than or equal to
print(x <= y) #less than or equal to

False
True
True
False
True
False

In [47]:
#Example 4 Logical operators
x = 7
print(x < 10 and x > 5) #returns True if both statements are 5
print(x < 10 or x > 9) #returns True if one of the statements is true
print(not(x < 10 and x > 5)) #reverse the result, returns False if the result is true

True
True
False

In [51]:
#Example 5 Identity operators
x = ["mango", "cherry"]
y = ["mango", "cherry"]
z = x
print(x is z) #returns True because z is the same object as x
print (x is y) #returns False because x is not the same object as y, even if they have the same content
print (x == y) #to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y
print( x is not z)
print( x is not y)
print( x != y)

True
False
True
False
True
False

In [57]:
#Example 6 Membership operators
a = ["pink", "purple", "blue"]
print("purple" in a) #returns True because a sequence with the value "banana" is in the list
print("green" not in a) #returns True because a sequence with the value "pineapple" is not in the list

True
True

In [3]:
#Example 7 Bitwise operators
x = 5
y = 3
print(x & y)
"""
The &(AND) operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

5 = 0000000000000101
3 = 0000000000000011

1 = 0000000000000001
"""
print(x | y)
"""
The |(OR) operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

5 = 0000000000000101
3 = 0000000000000011

7 = 0000000000000111
""" 
print(x ^ y)
"""
The ^(XOR) operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

5 = 0000000000000101
3 = 0000000000000011

6 = 0000000000000110
"""
print(~y)
"""
The ~(NOT) operator inverts each bit (0 becomes 1 and 1 becomes 0):

3 = 0000000000000011

-4 = 1111111111111100
"""
print(y << 2)
"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

3 = 0000000000000011
 
12 = 0000000000001100
"""
print(x >> 2)
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

3 = 0000000000000011

0 = 0000000000000000
"""

1
7
6
-4
12
1

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\n3 = 0000000000000011\n\n0 = 0000000000000000\n"

In [1]:
#Example 8
print((5 + 2) - (5 + 2))

0

In [83]:
#Example 9
print(50 + 7*4)

78

In [85]:
#Example 10
print(7 + 2 - 6 + 11)

14

LISTS

Lists

In [123]:
#Example 1
mylist = ["Yellow", "Pink", "Green"]
print(mylist)

['Yellow', 'Pink', 'Green']

In [131]:
#Example 2 
#if you add new items to a list, the new items will be placed at the end of the list
mylist = ["Yellow", "Pink", "Green"]
mylist += ["Blue"]
print(mylist)

['Yellow', 'Pink', 'Green', 'Blue']

In [133]:
#Example 3 Allows duplicates
colors = ["red", "blue", "yellow", "red"]
print(colors)

['red', 'blue', 'yellow', 'red']

In [139]:
#Example 4 List's length
colors = ["red", "blue", "green"]
print(len(colors))

3

In [141]:
#Example 5 Can be of any data type
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c']
bools = [True, False, True]
print(numbers)
print(letters)
print(bools)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[True, False, True]

In [143]:
#Example 6 Can be the mix of data types
mix = [1, 3, 'a', True, 'k']
print(mix)

[1, 3, 'a', True, 'k']

In [145]:
#Example 7 Data type
words = ["tree", "house", "year"]
print(type(words))

<class 'list'>

In [153]:
#Example 8 
mylist = list(("monkey", "lion", "cat")) #note the double round-brackets
print(type(mylist))
print(mylist)

<class 'list'>
['monkey', 'lion', 'cat']

List items

In [94]:
#Example 1 Access items
mylist = ["blue", "red", "yellow"]
print(mylist[1]) #the first item has index 0.

red

In [108]:
#Example 2 Negative indexing
GoldenTrio = ["Harry", "Ron", "Hermione"]
print(GoldenTrio[-1]) #-1 refers to the last item, -2 refers to the second last item etc

Hermione

In [110]:
#Example 3 Range of indexes
mylist = ["Harry", "Ron", "Hermione", "Luna"]
#we can specify a range of indexes by specifying where to start and where to end the range
print(mylist[1:3]) #the search will start at index 1(included) and end at index 3(not included)
print(mylist[:2]) #by leaving out the start value, the range will start at the first item
print(mylist[2:]) #by leaving out the end value, the range will go on to the end of the list

['Ron', 'Hermione']
['Harry', 'Ron']
['Hermione', 'Luna']

In [114]:
#Example 4 Range of Negative Indexes
mylist = ["Harry", "Ron", "Hermione", "Luna"]
print(mylist[-4:-1]) #returns the items from "orange" (-4) to, but NOT including "mango" (-1)

['Harry', 'Ron', 'Hermione']

In [120]:
#Example 5 Check if item exists
Golden_Trio = ["Harry", "Ron", "Hermione"]
if "Hermione" in Golden_Trio:
    print("Yes, she is the part of the Golden Trio")

Yes, she is the part of the Golden Trio

Change list items

In [157]:
#Example 1
colors = ["red", "blue", "green"]
colors[1] = "yellow"
print(colors)

['red', 'yellow', 'green']

In [159]:
#Example 2
colors = ['red', 'purple', 'blue', 'black', 'green']
colors[1:3] = 'grey', 'yellow'
print(colors)

['red', 'grey', 'yellow', 'black', 'green']

In [169]:
#Example 3 
Potters = ['lily', 'James', 'Harry']
Potters[1:2] = 'Ginny', 'Albus', 'James' #insert more items than new items will be inserted where you specified, the remaining items will move 
print(Potters)

['lily', 'Ginny', 'Albus', 'James', 'Harry']

In [173]:
#Example 4
mylist = ['yes', 'no', 'not sure']
mylist[1:3] = ['probably']
print(mylist)

['yes', 'probably']

In [175]:
#Example 5 Use insert
colors = ['red', 'black', 'green']
colors.insert(2, 'yellow')
print(colors)

['red', 'black', 'yellow', 'green']

Add list items

In [178]:
#Example 1 Add an item to the end of the list
colors = ["red", "blue", "green"]
colors.append("yellow")
print(colors)

['red', 'blue', 'green', 'yellow']

In [180]:
#Example 2 Add an element to the specified index
colors = ["red", "blue", "green"]
colors.insert(2, "yellow")
print(colors)

['red', 'blue', 'yellow', 'green']

In [184]:
#Example 3 Append elements from another list to the current list. This method can add any iterable object
colors1 = ["red", "blue", "green"]
colors2 = ["purple", "pink"]
colors1.extend(colors2)
print(colors1)

['red', 'blue', 'green', 'purple', 'pink']

Remove specified item

In [189]:
#Example 1 Removes the specified item
colors = ["red", "blue", "green"]
colors.remove("red")
print(colors)

['blue', 'green']

In [193]:
#Example 2 If there are more than one item with the specified value, removes the first occurrence
colors = ["red", "blue", "green", "blue", "yellow"]
colors.remove("blue")
print(colors)

['red', 'green', 'blue', 'yellow']

In [195]:
#Example 3 Removes the specified index
colors = ["red", "blue", "green"]
colors.pop(1)
print(colors)

['red', 'green']

In [197]:
#Example 4 Without specific index, removes the last item
colors = ["red", "blue", "green"]
colors.pop()
print(colors)

['red', 'blue']

In [199]:
#Example 5 Removes the specified index
colors = ["red", "blue", "green"]
del colors[1]
print(colors)

['red', 'green']

In [201]:
#Example 6 Delete the list completely
colors = ["red", "blue", "green"]
del colors
print(colors)

NameError: name 'colors' is not defined

In [203]:
#Example 7 The list still remains, but it has no content
colors = ["red", "blue", "green"]
colors.clear()
print(colors)

[]

Loop lists

In [206]:
#Example 1 
colors = ["red", "blue", "green"]
for x in colors:
    print(x)

red
blue
green

In [210]:
#Example 2 
colors = ["red", "blue", "green"]
for i in range(len(colors)):
    print(colors[i])

red
blue
green

In [212]:
#Example 3
colors = ["red", "blue", "green"]
i = 0
while i < len(colors):
    print(colors[i])
    i += 1

red
blue
green

In [15]:
#Example 4
colors = ["pink", "blue", "purple"]
[print(x) for x in colors]

pink
blue
purple

[None, None, None]

List comprehension

In [223]:
#Example 1 Wihout list comprehension
colors = ["red", "blue", "green"]
rcolors =[]

for x in colors:
    if 'r' in x:
        rcolors.append(x)

print(rcolors)

['red', 'green']

In [225]:
#Example 2 With list comprehension
colors = ["red", "blue", "green"]
rcolors = [x for x in colors if "r" in x]
print(rcolors)

['red', 'green']

In [227]:
#Example 3 The syntax
#newlist = [expression for item in iterable if condition == True]
colors = ["red", "blue", "green"]
notred = [x for x in colors if x != "red"]
print(notred)

['blue', 'green']

In [231]:
#Example 4 Without condition
colors = ["red", "blue", "green"]
alsocolors = [x for x in colors]
print(alsocolors)

['red', 'blue', 'green']

In [233]:
#Example 5 
numbers = [x for x in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [235]:
#Example 6 
numbers = [x for x in range(7) if x > 3]
print(numbers)

[4, 5, 6]

In [239]:
#Example 7
colors = ["red", "blue", "green"]
COLORS = [x.upper() for x in colors]
print(COLORS)

['RED', 'BLUE', 'GREEN']

In [241]:
#Example 8 
colors = ["red", "blue", "green"]
color = ["black" for x in colors]
print(color)

['black', 'black', 'black']

In [243]:
#Example 9
colors = ["red", "blue", "green"]
alsocolors = [x if x != "red" else "yellow" for x in colors]
print(alsocolors)

['yellow', 'blue', 'green']

Sort list

In [246]:
#Example 1 Alphabeticcally
colors = ["red", "blue", "green"]
colors.sort()
print(colors)

['blue', 'green', 'red']

In [249]:
#Example 2 Numerically
numbers = [15, 7, 21, 16]
numbers.sort()
print(numbers)

[7, 15, 16, 21]

In [259]:
#Example 3 Descending alphabetically
colors = ["red", "blue", "green"]
colors.sort(reverse = True)
print(colors)

['red', 'green', 'blue']

In [257]:
#Example 4 Descending numerically
numbers = [15, 7, 21, 16]
numbers.sort(reverse = True)
print(numbers)

[21, 16, 15, 7]

In [21]:
#Example 5 
def myfunc(n):
    return abs(n - 15) #sort the list based on how close the number is to 15

numbers = [1, 17, 31, 60]
numbers.sort(key = myfunc)
print(numbers)

[17, 1, 31, 60]

In [275]:
#Example 6 Case sensitivity returns all capital letters being sorted before lower case letters
colors = ["red", "blue", "Green"]
colors.sort()
print(colors)

['Green', 'blue', 'red']

In [279]:
#Example 7 
colors = ["red", "blue", "Green"]
colors.sort(key = str.lower)
print(colors)

['blue', 'Green', 'red']

In [281]:
#Example 8 Reverse
colors = ["red", "blue", "Green"]
colors.reverse()
print(colors)

['Green', 'blue', 'red']

Copy list

In [299]:
#Example 1 Cannot copy a list by typing list2 = list1, list2 will only be a reference to list1, and changes made in list1 will also be made in list2
colors = ["red", "blue", "green"]
mycolors = colors.copy()
print(mycolors)

['red', 'blue', 'green']

In [301]:
#Example 2
colors = ["red", "blue", "green"]
mycolors = list(colors)
print(mycolors)

['red', 'blue', 'green']

In [303]:
#Example 3
colors = ["red", "blue", "green"]
mycolors = colors[:]
print(mycolors)

['red', 'blue', 'green']

Join two lists

In [307]:
#Example 1
colors1 = ["red", "blue", "green"]
colors2 = ["pink", "purple", "blue"]
colors = colors1 + colors2
print(colors)

['red', 'blue', 'green', 'pink', 'purple', 'blue']

In [311]:
#Example 2
colors = ["red", "blue", "green"]
numbers = [1, 3, 5]

for x in numbers:
    colors.append(x)

print(colors)

['red', 'blue', 'green', 1, 3, 5]

In [315]:
#Example 3
colors = ["red", "blue", "green"]
alsocolors = ["pink", "purple"]

colors.extend(alsocolors)
print(colors)

['red', 'blue', 'green', 'pink', 'purple']

TUPLES

Tuples

In [27]:
#Example 1
mytuple = ("red", "blue", "green")
print(mytuple)

('red', 'blue', 'green')

In [29]:
#Example 2 Allows duplicates
mytuple = ("red", "green", "blue", "green")
print(mytuple)

('red', 'green', 'blue', 'green')

In [31]:
#Example 3
mytuple = ("red", "blue", "green")
print(len(mytuple))

3

In [35]:
#Example 4
mytuple1 = ("red",)
print(type(mytuple1))
#without a comma it is not a tuple
mytuple2 = ("red")
print(type(mytuple2))

<class 'tuple'>
<class 'str'>

In [37]:
#Example 5 Can be of any data type
tuplestr = ("red", "blue", "green")
tupleint = (1, 2, 3, 4, 5)
tuplebool = (True, False, True)
print(tuplestr)
print(tupleint)
print(tuplebool)

('red', 'blue', 'green')
(1, 2, 3, 4, 5)
(True, False, True)

In [39]:
#Example 6 Can be the mix of data type
tuplemix = ("red", 2, 1, True, "green")
print(tuplemix)

('red', 2, 1, True, 'green')

In [41]:
#Example 7 
mytuple = ("red", "green", "blue")
print(type(mytuple))

<class 'tuple'>

In [45]:
#Example 8
mytuple = tuple(("red", "green", "blue"))
print(mytuple)
print(type(mytuple))

('red', 'green', 'blue')
<class 'tuple'>

Access tuples

In [52]:
#Example 1 Indexing
colors = ("red", "green", "blue")
print(colors[0])

red

In [54]:
#Example 2 Negative indexing
colors = ("red", "green", "blue")
print(colors[-2])

green

In [56]:
#Example 3 Range of indexes
colors = ("red", "green", "blue", "pink", "purple")
print(colors[2:4])

('blue', 'pink')

In [58]:
#Example 4
colors = ("red", "green", "blue", "pink", "purple")
print(colors[3:])

('pink', 'purple')

In [60]:
#Example 5 
colors = ("red", "green", "blue", "pink", "purple")
print(colors[:4])

('red', 'green', 'blue', 'pink')

In [62]:
#Example 6
colors = ("red", "green", "blue", "pink", "purple")
print(colors[-3:-1])

('blue', 'pink')

In [64]:
#Example 7
colors = ("red", "green", "blue")
if "red" in colors:
    print("Red is a beutiful colour")

Red is a beutiful colour

Update tuples

In [68]:
#Example 1
a = ("red", "blue", "green")
b = list(a)
b[1] = "yellow"
a = tuple(b)
print(a)

('red', 'yellow', 'green')

In [72]:
#Example 2
colors = ("red", "blue", "green")
listcolors = list(colors)
listcolors.append("yellow")
colors = tuple(listcolors)
print(colors)

('red', 'blue', 'green', 'yellow')

In [76]:
#Example 3
colors = ("red", "blue", "green")
addcolor = ("yellow",)
colors += addcolor
print(colors)

('red', 'blue', 'green', 'yellow')

In [78]:
#Example 4
colors = ("red", "blue", "green")
listcolors = list(colors)
listcolors.remove("red")
colors = tuple(listcolors)
print(colors)

('blue', 'green')

In [80]:
#Example 5
colors = ("red", "blue", "green")
del colors
print(colors)

NameError: name 'colors' is not defined

Unpack tuples

In [3]:
#Example 1 "Upacking" - extract the values back into variables
colors = ("red", "blue", "green")
(apple, blueberry, avocado) = colors #the number of variables must match the number of values in the tuple
print(apple)
print(blueberry)
print(avocado)

red
blue
green

In [11]:
#Example 2 Using Asterisk*.If the number of variables is less than the number of values, the values will be assigned to the variable as a list
colors = ("blue", "purple", "green", "red", "yellow")
(blueberry, grape, *apple) = colors
print(blueberry)
print(grape)
print(apple)

blue
purple
['green', 'red', 'yellow']

In [16]:
#Example 3 The asterisk to another variable name, it assigns values to the variable until the number of values left matches the number of variables left
colors = ("blue", "green", "red", "yellow", "purple")
(blueberry, *apple, grape) = colors
print(blueberry)
print(apple)
print(grape)

blue
['green', 'red', 'yellow']
purple

Loop tuples

In [18]:
#Example 1
colors = ("red", "blue", "green")
for x in colors:
    print(x)

red
blue
green

In [20]:
#Example 2
colors = ("red", "blue", "green")
for i in range(len(colors)):
    print(colors[i])

red
blue
green

In [22]:
#Example 3
colors = ("red", "blue", "green")
i = 0
while i < len(colors):
    print(colors[i])
    i += 1

red
blue
green

Join two tuples

In [29]:
#Example 1 Join two tuples
colors1 = ("red", "blue", "green")
colors2 = ("pink", "purple")
colors = colors1 + colors2
print(colors)

('red', 'blue', 'green', 'pink', 'purple')

In [31]:
#Example 2 Multiply tuples
colors = ("red", "blue", "green")
colorstwice = colors*2
print(colorstwice)

('red', 'blue', 'green', 'red', 'blue', 'green')

SETS

Set

In [49]:
#Example 1 Unordered, do not have exact index and can appear in chaotic order
myset = {"red","blue", "green"}
print(myset)

{'red', 'green', 'blue'}

In [45]:
#Example 2 Duplicates are not allowed
colors = {"red", "green", "blue", "red"}
print(colors)

{'red', 'green', 'blue'}

In [51]:
#Example 3 True and 1 is considered the same value
colors = {"red", "green", "blue", True, 3, 1}
print(colors)

{'red', True, 3, 'blue', 'green'}

In [53]:
#Example 4 False and 0 is considered the same value
colors = {"red","blue", "green", 0, 5, False}
print(colors)

{0, 'red', 5, 'blue', 'green'}

In [55]:
#Example 5 
colors = {"red","blue", "green"}
print(len(colors))

3

In [59]:
#Example 6
strings = {"red","blue", "green"}
integers = {2, 4, 6}
booleans = {True, False, True}
print(strings)
print(integers)
print(booleans)

{'red', 'green', 'blue'}
{2, 4, 6}
{False, True}

In [63]:
#Example 7
myset = {"red", 5, 16, "green", False}
print(myset)

{False, 'red', 16, 5, 'green'}

In [65]:
#Example 8
colors = {"red","blue", "green"}
print(type(colors))

<class 'set'>

In [67]:
#Example 9
colors = set(("red","blue", "green"))
print(type(colors))
print(colors)

<class 'set'>
{'red', 'green', 'blue'}

Access set items

In [70]:
#Example 1 You cannot access items in a set by referring to an index or a key
colors = {"red","blue", "green"}
for x in colors:
    print(x)

red
green
blue

In [72]:
#Example 2
colors = {"red","blue", "green"}
print("green" in colors)

True

In [74]:
#Example 3
colors = {"red","blue", "green"}
print("green" not in colors)

False

Add set items

In [85]:
#Example 1 To add one item to a set by using add() method
colors = {"red","blue", "green"}
colors.add("yellow")
print(colors)

{'red', 'green', 'blue', 'yellow'}

In [87]:
#Example 2 To add items from another set into the current set by using update() method
colors = {"red","blue", "green"}
additional = {"pink", "yellow", "purple"}
colors.update(additional)
print(colors)

{'red', 'purple', 'blue', 'yellow', 'green', 'pink'}

In [89]:
#Example 3 The object in the update() method does not have to be a set, it can be any iterable object
colors = {"red","blue", "green"}
listcolors = ["pink", "purple"]
colors.update(listcolors)
print(colors)

{'red', 'blue', 'green', 'purple', 'pink'}

Remove set items

In [102]:
#Example 1
colors = {"red","blue", "green"}
colors.remove("blue")
print(colors)

{'red', 'green'}

In [104]:
#Example 3 If the item to remove does not exist, remove() will raise an error
colors = {"red","blue", "green"}
colors.remove("yellow")
print(colors)

KeyError: 'yellow'

In [106]:
#Example 3
colors = {"red","blue", "green"}
colors.discard("blue")
print(colors)

{'red', 'green'}

In [108]:
#Example 4 If the item to remove does not exist, discard() will not raise an error
colors = {"red","blue", "green"}
colors.discard("yellow")
print(colors)

{'red', 'green', 'blue'}

In [110]:
#Example 5 Remove a random item
colors = {"red","blue", "green"}
colors.pop()
print(colors)

{'green', 'blue'}

In [112]:
#Example 6
colors = {"red","blue", "green"}
x = colors.pop()
print(x)
print(colors)

red
{'green', 'blue'}

In [114]:
#Example 7
colors = {"red","blue", "green"}
colors.clear()
print(colors)

set()

In [116]:
#Example 8
colors = {"red","blue", "green"}
del colors
print(colors)

NameError: name 'colors' is not defined

Loop sets

In [119]:
#Example 1
colors = {"red","blue", "green"}
for x in colors:
    print(x)

red
green
blue

Join sets

In [122]:
#Example 1
set1 = {"red","blue", "green"}
set2 = {1, 3, 8}

setunion = set1.union(set2)
print(setunion)

{'red', 1, 3, 'blue', 8, 'green'}

In [124]:
#Example 2 We can use the | operator instead of the union() method
set1 = {"red","blue", "green"}
set2 = {1, 3, 8}

setunion = set1 | set2
print(setunion)

{'red', 1, 3, 'blue', 8, 'green'}

In [126]:
#Example 3
set1 = {"red","blue", "green"}
set2 = {1, 3, 8}
set3 = {"Harry", "Lily"}
set4 = {3, 7, 4}

myset = set1.union(set2, set3, set4)
print(myset)

{'red', 1, 3, 'Lily', 'blue', 4, 7, 8, 'green', 'Harry'}

In [128]:
#Example 4
set1 = {"red","blue", "green"}
set2 = {1, 3, 8}
set3 = {"Harry", "Lily"}
set4 = {3, 7, 4}

myset = set1 | set2 | set3 | set4
print(myset)

{'red', 1, 3, 'Lily', 'blue', 4, 7, 8, 'green', 'Harry'}

In [132]:
#Example 5 Join a set and a tuple. The  | operator only allows you to join sets with sets, and not with other data types
myset = {"red","blue", "green"}
mytuple = {5, 7, 9}

settuple = myset.union(mytuple)
print(settuple)

{'red', 'blue', 5, 7, 9, 'green'}

In [134]:
#Example 6 The update() method inserts all items from one set into another. It changes the original set, and does not return a new set
set1 = {"red","blue", "green"}
set2 = {1, 3, 8}

set1.update(set2)
print(set1)

{'red', 1, 3, 'blue', 8, 'green'}

In [138]:
#Example 7 A new set, that only contains the items that are present in both sets
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1.intersection(set2)
print(set3)

{3, 'blue'}

In [140]:
#Example 8 We can use the & operator instead of the intersection() method
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1 & set2
print(set3)

{3, 'blue'}

In [142]:
#Example 9 The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set1.intersection_update(set2)
print(set1)

{3, 'blue'}

In [144]:
#Example 10
set1 = {"red","blue", "green", 0, True}
set2 = {1, "blue", 3, False}

set1.intersection_update(set2)
print(set1)

{False, 1, 'blue'}

In [146]:
#Example 11 A new set that will contain only the items from the first set that are not present in the other set
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1.difference(set2)
print(set3)

{'red', 'green'}

In [148]:
#Example 12 We can use the - operator instead of the difference() method
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1 - set2
print(set3)

{'red', 'green'}

In [152]:
#Example 13
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set1.difference_update(set2)
print(set1)

{'red', 'green'}

In [154]:
#Example 14 The symmetric_difference() method will keep only the elements that are NOT present in both sets
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1.symmetric_difference(set2)
print(set3)

{1, 'red', 8, 'green'}

In [158]:
#Example 15 We can use the ^ operator instead of the symmetric_difference() method
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set3 = set1 ^ set2
print(set3)

{1, 'red', 8, 'green'}

In [161]:
#Example 16
set1 = {"red","blue", "green", 3}
set2 = {1, "blue", 3, 8}

set1.symmetric_difference_update(set2)
print(set1)

{'red', 1, 8, 'green'}

DICTIONARIES

Dictionaries

In [167]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 17, 'Specialty': 'R&M'}

In [169]:
#Example 2
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(len(mydict))

4

In [173]:
#Example 3
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Disciplines": ["PP2", "DS", "Calculus2"],
    "Specialty": "R&M"
}
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Disciplines': ['PP2', 'DS', 'Calculus2'], 'Specialty': 'R&M'}

In [175]:
#Example 4
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(type(mydict))

<class 'dict'>

In [177]:
#Example 5
mydict = dict(Name = "Amina", Course = 1, Age = 17)
print(mydict)
print(type(mydict))

{'Name': 'Amina', 'Course': 1, 'Age': 17}
<class 'dict'>

Accessing items

In [180]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(mydict["Age"])

17

In [182]:
#Example 2
mydict  = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.get("Age")
print(x)

17

In [192]:
#Example 3
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}

print(mydict.keys())

dict_keys(['Name', 'Course', 'Age', 'Specialty'])

In [190]:
#Example 4
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.keys()
print(x)

mydict["Hometown"] = "Almaty"
print(x)

dict_keys(['Name', 'Course', 'Age', 'Specialty'])
dict_keys(['Name', 'Course', 'Age', 'Specialty', 'Hometown'])

In [194]:
#Example 5
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(mydict.values())

dict_values(['Amina', 1, 17, 'R&M'])

In [196]:
#Example 6
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.values()
print(x)

mydict["Age"] = 18
print(x)

dict_values(['Amina', 1, 17, 'R&M'])
dict_values(['Amina', 1, 18, 'R&M'])

In [198]:
#Example 7
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.values()
print(x)

mydict["Hometown"] = "Almaty"
print(x)

dict_values(['Amina', 1, 17, 'R&M'])
dict_values(['Amina', 1, 17, 'R&M', 'Almaty'])

In [202]:
#Example 8
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
print(mydict.items())

dict_items([('Name', 'Amina'), ('Course', 1), ('Age', 17), ('Specialty', 'R&M')])

In [204]:
#Example 9
mydict  = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.items()
print(x)

mydict["Age"] = 18
print(x)

dict_items([('Name', 'Amina'), ('Course', 1), ('Age', 17), ('Specialty', 'R&M')])
dict_items([('Name', 'Amina'), ('Course', 1), ('Age', 18), ('Specialty', 'R&M')])

In [206]:
#Example 10
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
x = mydict.items()
print(x)

mydict["Hometown"] = "Almaty"
print(x)

dict_items([('Name', 'Amina'), ('Course', 1), ('Age', 17), ('Specialty', 'R&M')])
dict_items([('Name', 'Amina'), ('Course', 1), ('Age', 17), ('Specialty', 'R&M'), ('Hometown', 'Almaty')])

In [208]:
#Example 11
mydict  = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
if "Course" in mydict:
    print("She is the first course student")

She is the first course student

Change dictionary items

In [211]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict["Age"] = 18
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 18, 'Specialty': 'R&M'}

In [217]:
#Example 2
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict.update({"Age": 18})
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 18, 'Specialty': 'R&M'}

Add dictionary items

In [220]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict["Hometown"] = "Almaty"
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 17, 'Specialty': 'R&M', 'Hometown': 'Almaty'}

In [222]:
#Example 2
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict.update({"Hometown": "Almaty"})
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 17, 'Specialty': 'R&M', 'Hometown': 'Almaty'}

Remove dictionary items

In [225]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict.pop("Specialty")
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 17}

In [229]:
#Example 2 The popitem() method removes the last inserted item
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict.popitem()
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Age': 17}

In [231]:
#Example 3
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
del mydict["Age"]
print(mydict)

{'Name': 'Amina', 'Course': 1, 'Specialty': 'R&M'}

In [233]:
#Example 4
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
del mydict
print(mydict)

NameError: name 'mydict' is not defined

In [236]:
#Example 5
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydict.clear()
print(mydict)

{}

Loop dictionaries

In [239]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
for x in mydict:
    print(x)

Name
Course
Age
Specialty

In [241]:
#Example 2
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
for x in mydict:
    print(mydict[x])

Amina
1
17
R&M

In [243]:
#Example 3
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
for x in mydict.values():
    print(x)

Amina
1
17
R&M

In [245]:
#Example 4
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
for x in mydict.keys():
    print(x)

Name
Course
Age
Specialty

In [247]:
#Example 5
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
for x, y in mydict.items():
    print(x,y)

Name Amina
Course 1
Age 17
Specialty R&M

Copy dictionaries

In [250]:
#Example 1
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydictcopy = mydict.copy()
print(mydictcopy)

{'Name': 'Amina', 'Course': 1, 'Age': 17, 'Specialty': 'R&M'}

In [252]:
#Example 2
mydict = {
    "Name": "Amina",
    "Course": 1,
    "Age": 17,
    "Specialty": "R&M"
}
mydictcopy = dict(mydict)
print(mydictcopy)

{'Name': 'Amina', 'Course': 1, 'Age': 17, 'Specialty': 'R&M'}

Nested dictionaries

In [255]:
#Example 1
Potters = {
    "1st son" : {
        "Name": "James",
        "House": "Gryffindor"
    },
    "2nd son" : {
        "Name": "Albus",
        "House": "Slytherin"
    },
    "1st daughter" : {
        "Name": "Lily",
        "House": "Gryffindor"
    }
}
print(Potters)

{'1st son': {'Name': 'James', 'House': 'Gryffindor'}, '2nd son': {'Name': 'Albus', 'House': 'Slytherin'}, '1st daughter': {'Name': 'Lily', 'House': 'Gryffindor'}}

In [263]:
#Example 2
first_son = {
    "Name": "James",
    "House": "Gryffindor"
}
second_son = {
    "Name": "Albus",
    "House": "Slytherin"
}
only_daughter = {
    "Name": "Lily",
    "House": "Gryffindor"
}
Potters = {
    "1st son": first_son,
    "2nd son": second_son,
    "1st daughter": only_daughter
}
print(Potters)

{'1st son': {'Name': 'James', 'House': 'Gryffindor'}, '2nd son': {'Name': 'Albus', 'House': 'Slytherin'}, '1st daughter': {'Name': 'Lily', 'House': 'Gryffindor'}}

In [265]:
#Example 3
first_son = {
    "Name": "James",
    "House": "Gryffindor"
}
second_son = {
    "Name": "Albus",
    "House": "Slytherin"
}
only_daughter = {
    "Name": "Lily",
    "House": "Gryffindor"
}
Potters = {
    "1st son": first_son,
    "2nd son": second_son,
    "1st daughter": only_daughter
}
print(Potters["1st daughter"]["Name"])

Lily

In [271]:
#Example 4
first_son = {
    "Name": "James",
    "House": "Gryffindor"
}
second_son = {
    "Name": "Albus",
    "House": "Slytherin"
}
only_daughter = {
    "Name": "Lily",
    "House": "Gryffindor"
}
Potters = {
    "1st son": first_son,
    "2nd son": second_son,
    "1st daughter": only_daughter
}
for x, obj in Potters.items():
    print(x)
    
    for y in obj:
        print(y + ":", obj[y])

1st son
Name: James
House: Gryffindor
2nd son
Name: Albus
House: Slytherin
1st daughter
Name: Lily
House: Gryffindor

IF...ELSE

In [14]:
#Example 1
x = 50
y = 95
if y > x:
    print("y is greater than x")

y is greater than x

In [18]:
#Example 2 No indentation which will result an error
x = 16
y = 36
if y > x:
print("y is greater than x")

IndentationError: expected an indented block after 'if' statement on line 4 (1633468318.py, line 5)

In [22]:
#Example 3 elif is the same as else if
a = 55
b = 55
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [24]:
#Example 4
a = 40
b = 16
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [26]:
#Example 5
a = 16
b = 10
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [28]:
#Example 6 Short if
if a > b: print("a is greater than b")

a is greater than b

In [30]:
#Example 7 Short is else
a = 20
b = 300
print("A") if a > b else print("B")

B

In [34]:
#Example 8 
a = 50
b = 50
print("A") if a > b else print("=") if a == b else print("B")

=

In [36]:
#Example 9
a = 25
b = 20
c = 35
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [38]:
#Example 10
x = 24
y = 16
z = 39
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [42]:
#Example 11
x = 15
b = 18
if not x > y:
    print("X is NOT greater than y")

X is NOT greater than y

In [50]:
#Example 12
s = 35
if s > 5:
    print("Above five,")
    if s > 30:
        print("and also above 30!")
    else:
        print("but not above 30.")

Above five,
and also above 30!

In [52]:
#Example 13
a = 60
b = 90
if b > a:
    pass